In [ ]:
!pip install --upgrade gspread

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
folha_calculo = gc.create('Cotação Microsoft')

In [ ]:
folha_calculo = gc.open_by_url('https://docs.google.com/spreadsheets/d/1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E/edit#gid=0')

In [ ]:
folha_calculo = gc.open('Cotação Google')

In [ ]:
folha_calculo.worksheets()

In [ ]:
folha_calculo.add_worksheet(title='Nova Página',rows='100',cols='20')

In [ ]:
pagina = folha_calculo.worksheets()[2]
folha_calculo.del_worksheet(pagina)

{'replies': [{}],
 'spreadsheetId': '1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E'}

Interagir com Células

In [ ]:
pagina = folha_calculo.get_worksheet(0)

In [ ]:
pagina.cell(2,1).value

'2020-01-02'

In [ ]:
pagina.row_values(2)

['2020-01-02',
 '3244.669922',
 '3258.139893',
 '3235.530029',
 '3257.850098',
 '3257.850098',
 '3458250000']

In [ ]:
pagina.col_values(1)

In [ ]:
pagina.get_all_values()

In [ ]:
pagina.get_all_records()

In [ ]:
pagina = folha_calculo.get_worksheet(1)

pagina.update_acell('D10','Ola')

{'spreadsheetId': '1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'Sheet2!D10',
 'updatedRows': 1}

In [ ]:
pagina.update_cell(3,4,'Ola 2')

{'spreadsheetId': '1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'Sheet2!D3',
 'updatedRows': 1}

In [ ]:
pagina = folha_calculo.get_worksheet(0)

pagina.format('A1:G1',{'textFormat':{'bold':True}})

{'replies': [{}],
 'spreadsheetId': '1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E'}

Importar Informação Pandas

In [ ]:
import pandas as pd

In [ ]:
dataframe = pd.DataFrame(pagina.get_all_records())
dataframe.head()

         Date         Open         High  ...        Close    Adj Close      Volume
0  2020-01-02  3244.669922  3258.139893  ...  3257.850098  3257.850098  3458250000
1  2020-01-03  3226.360107  3246.149902  ...  3234.850098  3234.850098  3461290000
2  2020-01-06  3217.550049  3246.840088  ...  3246.280029  3246.280029  3674070000
3  2020-01-07  3241.860107  3244.909912  ...  3237.179932  3237.179932  3420380000
4  2020-01-08  3238.590088  3267.070068  ...  3253.050049  3253.050049  3720890000

[5 rows x 7 columns]

In [ ]:
pagina = folha_calculo.get_worksheet(1)

In [ ]:
pagina.update([dataframe.columns.values.tolist()]+dataframe.values.tolist())

{'spreadsheetId': '1G0Ck-nLRUbe5gRG8KGZvqeDQ_Yf6jkMk3XwDsQRqO2E',
 'updatedCells': 1449,
 'updatedColumns': 7,
 'updatedRange': 'Sheet2!A1:G207',
 'updatedRows': 207}

In [ ]:
dataframe.columns.values.tolist()
dataframe.values.tolist()

In [ ]:
from gspread_dataframe import get_as_dataframe,set_with_dataframe

pagina = folha_calculo.get_worksheet(1)
set_with_dataframe(pagina,dataframe)

In [ ]:
df_import = get_as_dataframe(pagina,usecols=[0,1,2,3,4,5,6])
df_import.head()

         Date         Open         High  ...        Close    Adj Close        Volume
0  2020-01-02  3244.669922  3258.139893  ...  3257.850098  3257.850098  3.458250e+09
1  2020-01-03  3226.360107  3246.149902  ...  3234.850098  3234.850098  3.461290e+09
2  2020-01-06  3217.550049  3246.840088  ...  3246.280029  3246.280029  3.674070e+09
3  2020-01-07  3241.860107  3244.909912  ...  3237.179932  3237.179932  3.420380e+09
4  2020-01-08  3238.590088  3267.070068  ...  3253.050049  3253.050049  3.720890e+09

[5 rows x 7 columns]

In [ ]:
pagina